.signinScreen {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vw;
    width: 100%;
}

.signin_form {
    border-radius: 0.3rem;
    /* width: 30%; */
    width: 22%;
    padding: 3rem 4rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}

.signin_heading {
    padding-bottom: 2rem;
}

.signIn_inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.signin_input {
    color: #fff;
    padding: 1.25rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.3rem;
}

.signin_submitbutton {
    border-radius: 0.3rem;
    color: #fff;
    background-color: red;
    margin: 2rem 0rem 1rem 0rem;
    padding: 0.7rem;
    width: 100%;
    border: none;
}

.signup_newHead {
    font-weight: 400;
    color: #b3b3b3;
}

.signup_newHead span a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.signup_newHead span a:hover {
    text-decoration: underline;
}

@media only screen and (max-width:700px) {
    .signin_form {
        width: 40%;
        padding: 1rem 4rem;
    }

    .signin_heading {
        font-size: 1.5rem;
    }

    .signup_newHead,
    .signup_newHead span a {
        font-size: 10px;
    }
}